<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/demo/code.js"></script>
    <script>
        $(function() {
            $("#wbupdate").click(function() {
                // alert($("#wbid").attr("value"));
                set_whiteboard_id($("#wbid").attr("value"));
            })
        })
    </script>
</head>
<body>
Open one of the following role pages to start the demo:
<ul>
    <li><a href="./shlomit">Shlomit</a> - the student in need of help <span style="color:silver;fint-size:small">(always start the demo with this page)</span></li>
    <li><a href="./knaan">Knaan</a> - the student lending its helping services</li>
</ul>

<br/>

Before running a demo, please set a fresh whiteboard id:
<input id="wbid" type="text" value="{{ shared_states.whiteboard.wbid }}"/>
<input id="wbupdate" type="button" value="update"/>
<br/>
<br/>
<span style="display:inline-block;color:silver;font-size:small;border:1px solid silver;padding:2px">
    To get one such ID, go to <a href="http://awwapp.com/draw.html">http://awwwapp.com/draw.html</a>.<br/>
    Click "Menu", "Invite", and copy the last part after the '#' (e.g. 4a61c993) into the box above. Click 'update'.<br/>
    Whiteboard Ids tend to last for several hours.
</span>
</body>
</html>