<!DOCTYPE html>
<html>
<head>
    <title>user</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/demo/code.js"></script>
    <link href="/static/demo/style.css" rel="stylesheet" type="text/css"/>

    <style>
    </style>

    <script>
        // set image for central div
        function divimg(img) {
            $("#center").css("background-image", "url('/static/demo/" + img + "')")
        };

        // wire the key '5' to reload page
        $(document).keyup(function(event) {
            if (event.keyCode == 0x35) {
                window.location.href = ".";
            }
        })

        // wire the key '9' to go to solve directly
        $(document).keyup(function(event) {
            if (event.keyCode == 0x39) {
                window.location.href = "./solve";
            }
        })

        // ?
        function onrequested() {
            alert("Click to Teach!");
            touch('/ajax/acceptedclicked');
            window.location.href = "Knaan_solve.html";
        }
    </script>

    <style>
        #hotspot {
            position: relative;
            left: 23px; top: 180px; width: 300px; height:400px;
        }
    </style>

    {% block page_header %}
    {% endblock %}
</head>
<body align="center">
<div id="wrap">
<div id="center">
    <input id="search" type="text"/><br/>
    <div id="hotspot" style='width:100%;height:200px'></div><br/>
</div>
</div>
</body>
</html>